body {
    background-color: aqua;
    background-repeat: repeat;
    background-attachment: scroll;
    text-align: center;
}

#content-header {
    color: fuchsia;
    font-size: 30px;
}

.allp {
    font-size: 25px;
}

h1 {
    font-size: 40px;
}

#changing {
    margin-top: 200px;
    font-size: 20px;
}